div.title{
    font-size: 300px;
    color: #CDCDCE;
}
body{
    background-attachment: fixed;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
slideshow, img{
	width:100%;
	height:100%;
}
